body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #323232;
  line-height: 1.687;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

 
}
.container--fluid{
    max-width: unset;
    width: 100%;
}
.container-no-padding{
    padding: 0;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__text {
  width: 465px;
}
.header_title {
  margin-bottom: 54px;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.46;
  margin-right: -150px;
  z-index: 9;
  position: relative;
}
.header__text p {
  line-height: 1.687;
  margin-bottom: 1em;
}

.block-form {
  background: #fff;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  height: 58px;
  transition: box-shadow 0.2 ease-in;
  -webkit-transition: box-shadow 0.2 ease-in;
  -moz-transition: box-shadow 0.2 ease-in;
  -ms-transition: box-shadow 0.2 ease-in;
  -o-transition: box-shadow 0.2 ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form--active {
  box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.27);
}
.form__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 72px;
  height: 100%;
  flex-grow: 1;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 19px;
    background-image: url("../img/icons/mail-icon.svg");
    background-size: initial;
    position: absolute;
    top: 20px;
    left: 28px;
  }
}
.form__input {
  flex-grow: 1;
  margin-right: 10px;

  &::placeholder {
    color: #bbbbbb;
  }
}

.form__btn {
  display: inline-block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  background-color: #f78434;
  font-weight: 700;
  line-height: 58px;
  color: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.form__btn:hover {
  background-color: #ff6a00;
}
.header__img img {
  border-radius: 40px 40px 40px 0;
  -webkit-border-radius: 40px 40px 40px 0;
  -moz-border-radius: 40px 40px 40px 0;
  -ms-border-radius: 40px 40px 40px 0;
  -o-border-radius: 40px 40px 40px 0;
}
.header-top {
  margin-top: 42px;
}

.clients {
  padding-top: 100px;
  padding-bottom: 45px;
}

.clients__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.objects {
  padding-top: 45px;
  padding-bottom: 90px;
}

.objects__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-x: hidden;
  @media(max-width:1495px){
    justify-content: flex-end;

  }
}
.title-all {
  line-height: 1.47;
  font-size: 42px;
  font-weight: 700;

}

.objects__text {
  width: 374px;
box-sizing: content-box;
  padding-left: 181px;
  flex-shrink: 0;
  padding-right: 150px;
  p + p {
    margin-top: 20px;
  }
}

.objects__title {
  margin-bottom: 20px;
}
.objects__btn {
  margin-top: 40px;
}
.objects__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.img-card {
  position: relative;
  width: 385px;
  & + & {
    margin-left: 32px;
  }
}
.img-card__img {
  border-radius: 20px 20px 0px 20px;
  -webkit-border-radius: 20px 20px 0px 20px;
  -moz-border-radius: 20px 20px 0px 20px;
  -ms-border-radius: 20px 20px 0px 20px;
  -o-border-radius: 20px 20px 0px 20px;
  .img-card--rounder & {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
}

.card-info {
  display: flex;
  align-items: center;
  padding: 30px;
  background: #fff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card-info__icon {
  margin-right: 20px;
}
.card-info {
  position: absolute;
  bottom: 87px;
  right: -46px;
}
.cta{
    padding-top: 70px;
    padding-bottom: 70px;
}
.cta__block{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    background-color: #58BEBF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #fff;
    // padding-right: 95px;
}
.cta__img{
    margin-top: 60px;
    padding-top: 25px;
    padding-right: 25px;
    background-color: white;
    border-radius: 0 26px 0 0;
    -webkit-border-radius: 0 26px 0 0;
    -moz-border-radius: 0 26px 0 0;
    -ms-border-radius: 0 26px 0 0;
    -o-border-radius: 0 26px 0 0;
}
.cta__text{
background: url('../img/big-img/oval.svg') bottom left -186px  no-repeat, 
url('../img/big-img/oval-ft.svg ') right top no-repeat;

    width: 555px;
    box-sizing: border-box;
    padding-left: 96px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        width: 320px;
    }
}
.cta_title{
    margin-bottom: 15px;
}


.cta__btn-row{
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
}
.btn-white{
    background-color: #fff;
    color: #323232;
    transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
}
.btn-white:hover{
    background-color:#323232 ;
    color:#fff ;
}
.btn-play{
    padding-left: 50px;
    position: relative;
}
.btn-play::before{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-image: url('../img/icons/play.svg');
    background-repeat: no-repeat;
    background-size: initial;
    position: absolute;
    left: 30px;
    top: 50%;
    transform:translateY(-50%) ;
    -webkit-transform:translateY(-50%) ;
    -moz-transform:translateY(-50%) ;
    -ms-transform:translateY(-50%) ;
    -o-transform:translateY(-50%) ;
    margin-top: 1px;
}

.serve {
    padding-top: 0px;
    padding-bottom: 120px;
    position: relative;
    // background-color:#979797;
    &::before{
        content: '';
        position:absolute;
        display: block;
        width: 100%;
        height: 100%;
    background-color:#F5F6FA;

        top: -50%;
        bottom: 50%;
        left:0;
        z-index: -1;

    }
}

.serve__heading {
    margin-bottom: 45px;
    text-align: center;
    .title-all{
        margin-bottom: 10px;
    }
}

.serve__row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 30px;
}
.card-customer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //background: #f78434;
    background-color: #fff;
    padding: 40px 88px;
    box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, .08);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    transition: background-color .2s ease-in, color .2s ease-in;
    -webkit-transition: background-color .2s ease-in, color .2s ease-in;
    -moz-transition: background-color .2s ease-in, color .2s ease-in;
    -ms-transition: background-color .2s ease-in, color .2s ease-in;
    -o-transition: background-color .2s ease-in, color .2s ease-in;

    .card-customer__icon{
        fill:#F78434;
        margin-bottom: 15px;
        transition: fill .2s ease-in    ;
        -webkit-transition: fill .2s ease-in    ;
        -moz-transition: fill .2s ease-in    ;
        -ms-transition: fill .2s ease-in    ;
        -o-transition: fill .2s ease-in    ;
}

    &:hover{
background-color: #F78434;

color: #fff;



.card-customer__icon{
    fill:#ffffff;
}




       .form__btn{
        background-color: #fff;
        color: #F78434;
       }
    }

    
}

.card-customer__text{
    margin-bottom: 25px;
}
.visually-hidden{
    opacity: 0;
    visibility: hidden;
    width: 0x;
    height: 0px;
    display: block;
    margin-left: -100000px;
    font-style: 0;
}
.benefits {
    padding-top: 0;
    padding-bottom: 110px;
}



.benefits__heading {
    padding-bottom: 60px;
}

.benefits__row {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
}
.benefits-item {
       


    &__img{
        margin-bottom: 15px;

        circle{
           fill: rgba(88, 190, 191, .2);
           transition: fill 0.2s ease-in;
           -webkit-transition: fill 0.2s ease-in;
           -moz-transition: fill 0.2s ease-in;
           -ms-transition: fill 0.2s ease-in;
           -o-transition: fill 0.2s ease-in;
}
        path{
        fill:#58BEBF;


        }
    }
    &:hover .benefits-item__img{
        circle{
            fill: #F78434;
         }
         path{
         fill:#fff;
 
 
         }

    }
}
.benefit-item {
    text-align: center;
}
.benefits-item__title {
    margin-bottom: 2px;
    block-size: 28px;
}
.benefits__title {
    text-align: center;
    
}
.testimonials {
    padding-top: 60px;
    padding-bottom: 60px;
}

.testimonials__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-bottom: 60px;
}
.testimonials__title {
    max-width: 452px;
}

.testimonials__subtitle {
    max-width: 400px;
}
.card-testimonials{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    max-width: 350px;
    display: inline-block;
    transition: box-shadow .2s ease-in ;
    -webkit-transition: box-shadow .2s ease-in ;
    -moz-transition: box-shadow .2s ease-in ;
    -ms-transition: box-shadow .2s ease-in ;
    -o-transition: box-shadow .2s ease-in ;
    &:hover{
        box-shadow: 0px 10px 52px rgba(0, 0, 0, .08) ;
      
}
}




.testimonials__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after{
content: "";
position: absolute;
right: -40px;
top: -40px;
width: 80px;
height: 80px;
background-image: url(../img/icons/shape.svg);
    }

}


.card-testimonials__body {
    padding: 30px;
}
.testimonials__text{
    margin-bottom: 23px;
}
.card-testimonials__name {
    font-size: 18px;
    font-weight: 700;
}
.card-testimonials__city {
    color: #58BEBF;
   
    // &:hover{
    //     color: #F78434;
    // }
    .card-testimonials:hover &{
      color: #F78434;

    }
}
.card-testimonials__btn-play{
    position: absolute;
    right: 20px;
    bottom: 35px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    opacity: 1;
}
.card-testimonials__img-wrapper{
    position: relative;

}
.card-testimonials__btn-svg{
    transition: fill .2s ease-in ;
    -webkit-transition: fill .2s ease-in ;
    -moz-transition: fill .2s ease-in ;
    -ms-transition: fill .2s ease-in ;
    -o-transition: fill .2s ease-in ;
    circle{
        fill: #fff;
    transition: fill .2s ease-in ;


    }
    path{
        fill: #F78434;
    transition: fill .2s ease-in ;


    }


    &:hover{
        circle {
            fill:#F78434 ;
    
        }
        path{
            fill: #fff;
    
        }

    }
}



.contacts {
  padding-top: 200px;
  background-image: url(../img/footer/Bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 55px;

  color: #fff;
  position: relative;
  &::before{
content: "";
display: block;
width: 743px;
height: 372px;
background-image: url(../img/footer/oval-big.svg);
background-size: initial;
background-repeat: no-repeat;
position: absolute;
bottom: -1px;
left: 50%;

  }
  &:after{
    content: "";
    display: block;
    width: 478px;
    height:547px;
    margin-left: 79px;
    background-image: url(../img/footer/girl-photo.png);
    background-size: initial;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}

.contact__info {
  max-width: 360px;
}

.contact__text {
  margin-bottom: 15px;
  max-width: 342px;

}



.footer {
  padding-top: 86px;
  padding-bottom: 82px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  max-width: 300px;
}
.footer__logo {
  margin-bottom: 15px;
 margin-left: -5px;
}

.footer__info-text {
  margin-bottom: 40px;
}
.footer__socials {
  display: flex;
  column-gap: 30px;
  align-items: center;
  a:hover img{
opacity: 0.8;
  }
}
.footer__nav {
  display: flex;
  column-gap: 85px;
}
.footer__nav-block {
  font-size: 14px;
  ul{

  }
  li{
margin-bottom: 13px;
  }
  a{

  }
}
.footer__nav-block-title {
  font-size: 21px;
  margin-bottom: 18px;
  font-weight: 700;
}

@media (max-width: 758px) {
  .navigation{
    display: none;
  }
}
@media (min-width: 758px){

  .burger-menu{
    display: none;
  }

}




@keyframes checked-anim {
  50% {
      width: 3000px;
      height: 3000px;
  }
  100% {
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}
@keyframes not-checked-anim {
  0% {
      width: 3000px;
      height: 3000px;
  }
}
.list-menu, .link-menu {
  margin: 75px 0 -55px 0;
  color: #03A9F4;
  /* font: 14pt "Roboto", sans-serif; */
  font-weight: 700;
  line-height: 1.8;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  outline: 0;
  display: none;
}
.list-menu{
  width: 230px;
  text-indent: 56px;
}
.link-menu:focus {
  display: block;
  color: #333;
  background-color: #eee;
  transition: all .5s;
}




#trigger, #burger, #burger:before, #burger:after {
  position: absolute;
  top: 40px;
  right: 25px;
  background: #03A9F4;
  width: 30px;
  height: 5px;
  transition: .2s ease;
  cursor: pointer;
  z-index: 1;
}
#trigger {
  height: 25px;
  background: none;
}
#burger:before {
  content: " ";
  top: 10px;
  left: 0;
}
#burger:after {
  content: " ";
  top: 20px;
  left: 0;
}
#menu-toggle:checked + #trigger + #burger {
  top: 35px;
  transform: rotate(180deg);
  transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
  width: 20px;
  top: -2px;
  left: 18px;
  transform: rotate(45deg) translateX(-5px);
  transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
  width: 20px;
  top: 2px;
  left: 18px;
  transform: rotate(-45deg) translateX(-5px);
  transition: transform .2s ease;
}
#menu {
  // position: absolute;
  // margin: 0; padding: 0;
  width: 110px;
  height: 110px;
  // background-color: #fff;
  // border-bottom-right-radius: 100%;
  // box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  // animation: not-checked-anim .2s both;
  // transition: .2s;
} 
#menu-toggle:checked + #trigger + #burger + #menu {
  animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > .list-menu, .link-menu{
  display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  display: none;
}
  